<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Portada-Estilo-01</title>
    <link rel="stylesheet" href="../../../assets/css/components.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Portada-Estilo-01">
    <meta name="author" content="SLee Dw">
    <meta name="theme-color" content="#fff">
    <link rel="stylesheet" href="../../../assets/css/components.css">
</head>
<body>

    <div class="wrp">
        <div class="portada"></div>
        <div class="contenido">
            <div class="info">
                <h1>Conoce todos nuestros proyectos.</h1>
                <!-- <a href="#">Contactar</a> -->
            </div>
        </div>
        <div class="curveado">
            <img src="../../../assets/img/img2.svg">
        </div>
    </div>

</body>
</html>